# End dragon fight implementation and replacement in ServerLevel.
public-f net.minecraft.world.entity.boss.enderdragon.EnderDragon dragonFight
public net.minecraft.world.level.dimension.end.EndDragonFight spawnExitPortal(Z)V
public net.minecraft.world.level.dimension.end.EndDragonFight dragonKilled
public net.minecraft.world.level.dimension.end.EndDragonFight level
public net.minecraft.world.level.dimension.end.EndDragonFight respawnStage
public net.minecraft.world.level.dimension.end.EndDragonFight portalLocation
public net.minecraft.world.level.dimension.end.EndDragonFight findExitPortal()Lnet/minecraft/world/level/block/state/pattern/BlockPattern$BlockPatternMatch;
public net.minecraft.world.level.dimension.end.EndDragonFight respawnDragon(Ljava/util/List;)V
protected net.minecraft.world.level.dimension.end.EndDragonFight dragonUUID
protected net.minecraft.world.level.dimension.end.EndDragonFight dragonEvent
protected net.minecraft.world.level.dimension.end.EndDragonFight spawnNewGateway()V
protected net.minecraft.world.level.dimension.end.EndDragonFight previouslyKilled
public net.minecraft.world.level.dimension.end.EndDragonFight ticksSinceLastPlayerScan
public net.minecraft.world.level.dimension.end.EndDragonFight isArenaLoaded()Z
public net.minecraft.world.level.dimension.end.EndDragonFight needsStateScanning
public net.minecraft.world.level.dimension.end.EndDragonFight respawnCrystals
public net.minecraft.world.level.dimension.end.EndDragonFight respawnTime
public net.minecraft.world.level.dimension.end.EndDragonFight ticksSinceDragonSeen
public net.minecraft.world.level.dimension.end.EndDragonFight ticksSinceCrystalsScanned
public net.minecraft.world.level.dimension.end.EndDragonFight findOrCreateDragon()V
public net.minecraft.world.level.dimension.end.EndDragonFight updateCrystalCount()V
public-f net.minecraft.server.level.ServerLevel dragonFight

# Custom End crystal texture and corrock surface rules.
public-f net.minecraft.client.renderer.entity.EndCrystalRenderer RENDER_TYPE
public net.minecraft.world.level.levelgen.SurfaceRules$Context randomState
public net.minecraft.world.level.levelgen.SurfaceRules$Context stoneDepthAbove
public net.minecraft.world.level.levelgen.SurfaceRules$Context surfaceDepth
public net.minecraft.world.level.levelgen.SurfaceRules$Context lastUpdateXZ

# Bolloom synchronization, damage source and particle state.
public net.minecraft.network.syncher.SynchedEntityData getItem(Lnet/minecraft/network/syncher/EntityDataAccessor;)Lnet/minecraft/network/syncher/SynchedEntityData$DataItem;
public net.minecraft.world.damagesource.DamageSources source(Lnet/minecraft/resources/ResourceKey;Lnet/minecraft/world/entity/Entity;)Lnet/minecraft/world/damagesource/DamageSource;
public net.minecraft.world.entity.animal.Sheep ITEM_BY_DYE
public net.minecraft.client.particle.Particle stoppedByCollision
